<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

		<style>
			.inner {
				height: 150px;
				background-color: lightblue;
			}
		</style>
	</head>
	<body>

		<div id="app">
			<input type="text" width="10%" v-model="n1" />
			<select v-model="opt">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="*">*</option>
				<option value="/">/</option>
			</select>
			<input type="text" v-model="n2" />
			<input type="button" value="=" @click="calc" />
			<input type="text" v-model="result" />
		</div>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					n1: 0,
					n2: 0,
					result: 0,
					opt: '+'
				},
				methods: {
					calc() {
						//计算器算数的方法
						//逻辑:第一种方式
// 						switch (this.opt) {
// 							case '+':
// 							this.result = parseInt(this.n1) + parseInt(this.n2)
// 								break;
// 							case '-':
// 							this.result = parseInt(this.n1) - parseInt(this.n2)
// 								break;
// 							case '*':
// 							this.result = parseInt(this.n1) * parseInt(this.n2)
// 								break;
// 							case '/':
// 							this.result = parseInt(this.n1) / parseInt(this.n2)
// 								break;
// 						}

					// 第二种方式投机取巧方式,正式开发尽量少用
					var codestr = 'parseInt(this.n1)' + this.opt + 'parseInt(this.n2)'
					this.result = eval(codestr)
					}
				}
			})
		</script>
	</body>
</html>
