<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js"></script>
		<!-- vue-resource依赖于Vue，所以先后顺序要注意 -->
		<!-- this。$http.jsonp -->
		<script src="js/vue-resource.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css"/>
	</head>
	<body>
		<div id="app">

			<div class="panel panel-primary">
				<div class="page-header">
					<h3 class="panel-title">添加品牌</h3>
				</div>
				<div class="panel-body form-inline">
					<label>
						Name:
						<input type="text" v-model="name" class="form-control" />
					</label>
						<input type="button" value="添加" @click="add" class="btn btn-primary"/>
				</div>
			</div>

			
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Ctime</th>
						<th>Operation</th>
					</tr>
				</thead>
				<thead>
					<tr v-for="item in list" :key="item.id">
						<th>{{ item.id }}</th>
						<th>{{ item.name }}</th>
						<th>{{ item.ctim }}</th>
						<th>
							<a href="#" @click.prevent="del(item.id)">删除</a>
						</th>
					</tr>
				</thead>
			</table>
		</div>
		<script>
			
			//配置全局的路径
			// 如果通过全局配置了请求的数据接口 根域名,则在每次单独发起的http请求时候,请求的url
			Vue.http.options.root = 'http://localhost:8081/';
			
			//全局启用emulateJSON
			Vue.http.options.emulateJSON = true;
			// 创建 vue 实例,得到viewModel
			var vm = new Vue({
				el: '#app',
				data: {
					name: '',
					list: [
						//存放所有品牌列表的数组
						{ id: 1, name: '五菱红光',ctim: new Date() },
						{ id: 2, name: '熊猫盼盼',ctim: new Date() },
						{ id: 3, name: '比亚迪蛋蛋',ctim: new Date() },
						{ id: 4, name: '奥迪',ctim: new Date() }
					]
				},
				created() {
					//当vm实例的data和methods 初始化完毕后 ,vm实例会自动执行created这个生命周期函数
					
					this.getAllList()
				},
				methods: {
					add(){
						//添加品牌列表到后台服务器
						//1.请求方式post
						//2.this.$http.post
							//2.1参数一请求的url地址
							// 2.2参数二提交服务器的数据,要以对像形式提交给服务器{
								// name: this.name
							// }
							// 2.3参数三是一个配置对象,要以哪种表单数据类型提交过去
							// {emulateJSON: true},以普通表单格式,将数据提交给服务器
							// application/x-www-form-urlencoded
						//3.在post方法中使用then来设置成功的回调函数，如果想要拿到成功的结果需要result。body
// 						 this.$http.post('post',{name: this.name},{ emulateJSON: true}).then(
// 						 result => {
// 							 // var result = result.body
// 							 console.log(result)
// 							if(result.status === 200){
// 								//成功了
// 								this.list.push(result.body)
// 								// this.getAllList()
// 								//清空 name
// 								this.name = ''
// 							} else{
// 								//失败了
// 								alert('添加失败')
// 							}
// 						 })
						 this.$http.post('post',{name: this.name}).then(
						 result => {
						 							 // var result = result.body
						 							 console.log(result)
						 							if(result.status === 200){
						 								//成功了
						 								this.list.push(result.body)
						 								// this.getAllList()
						 								//清空 name
						 								this.name = ''
						 							} else{
						 								//失败了
						 								alert('添加失败')
						 							}
						 })
							
					},
					getAllList(){
						//获取所有车的品牌列表的数组
						//分析
						//1.由于已经导入vue-resource这个包,所以,可以直接通过 this.$http 来发起数据请求
						//2.根据接口api文档,知道,获取列表的时候,应该发起一个 get 请求
						//3.this.$http.get('url').then(function(result(){}))
						//4.当通过 then 指定回调函数中,可以拿到数据服务器返回值的result
						//5.先判断result.status是否等于0,如果等于0，就成功,可以把
						// result.message 赋值给 this.list; 如果不等于0,可以弹框提醒,获取数据失败!
						this.$http.get('get').then(result =>{
							console.log(result.body);
							console.log(result);
						
						//注意:通过 $http 获取到的数据,都在 result,body
						// var	result = result.body
							if(result.status === 200) {
								//成功了
								this.list.push(result.body)
		
							} else {
								//失败了
								alert('获取数据失败!')
							}
						})
						
					},
					del(id){
						this.$http.get('delId/'+id).then(result => {
							
							console.log(result);
							
							if(result.status === 200){
								//删除成功
								alert('删除成功!')
								this.getAllList()
							}else{
								alert('删除失败!')
							}
						})
					}
				}
			})
		</script>
		<!-- <script src="http://localhost:3000/getscript?callback=showInfo123"> -->
			
		</script>
	</body>
</html>